@media(min-width: 500px) {
    header {
        width: 500px;
        height: 100px;
    }
}
body {
    width: 1000px;
    height: 1400px;
    color: #091540;
    background-color: #a5ffd6;
    margin: 0;
    padding: 0;
}
header {
    width: 1000px;
    height: 200px;
    margin: 0;
    padding: 0;
    img {
        border: 2.5mm solid #091540;
        border-radius: 20px 20px;
    }
}
h1 {
    text-align: center;
    text-shadow: 3px 1.5px black;
    margin-top: 200px;
}
main {
    width: 1000px;
    height: 600px;
    h3 {
        width: 300px;
        height: 30px;
        background-color: #3893d0;
        border: 4mm ridge #1b2cc1;
        border-radius: 10px 10px;
        margin-top: -120px;
        margin-left: 240px;
        padding-top: 15px;
    }
    form {
        width: 800px;
        height: 350px;
        border: 4mm ridge #1b2cc1;
        border-radius: 10px 10px;
        background-color: #3893d0;
        margin-top: 250px;
        margin-left: 270px;
        padding: 35px;
        #text {
            border-color: blue;
            border-radius: 15px 15px;
            height: 30px;
        }
        #email {
            border-color: blue;
            border-radius: 15px 15px;
            height: 30px;
        }
        #titremessage {
            border-color: blue;
            border-radius: 15px 15px;
            height: 30px;
        }
        textarea {
            border-color: blue;
            border-radius: 15px 15px;
        }
        button {
            width: 250px;
            height: 50px;
            border-color: blue;
            border-radius: 15px 15px;
            font-size: 24px;
            font-weight: bolder;
        }
    }
}
footer {
    width: 1304px;
    height: 250px;
    background-color: #091540;
    #map {
        width: 400px;
        height: 150px;
        color: #a5ffd6;
        border: 2mm solid #a5ffd6;
        margin-left: 150px;
        padding-top: 20px;
    }
    #coordonnees {
        width: 400px;
        height: 150px;
        color: #a5ffd6;
        border: 2mm solid #a5ffd6;
        margin-left: 700px;
        margin-top: -145px;
        p {
            margin: 15px;
        }
    }
}